<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购票</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <style>
        .mov-label {
            font-weight: bold;+
        }
    </style>
</head>
<body>
<div class="container">
    <!--展示某场电影的放映信息-->
    <h1 style="text-align: center">电影订票系统-购票</h1>
    <!--显示提示消息-->
    <div th:if="${msg}">
        <div class="alert alert-danger" role="alert" th:text="${msg}"></div>
    </div>
    <div class="row">
        <!--显示电影简介-->
        <div class="thumbnail">
            <div class="caption">
                <h3 th:text="${movie.movieName}">Batman Begins</h3>
                <!-- 鼠标移入p标签显示全部内容 -->
                <p class="mov-intro" th:title="${movie.synopsis}" th:text="${movie.synopsis}"></p>
                <p>
                    <span class="mov-label">上映时间：</span>
                    <span th:text="${#dates.format(movie.showDate, 'yyyy-MM-dd')}"></span>
                    <span class="mov-label">时长：</span><span th:text="${movie.lengthTime}"></span>
                    <span class="mov-label">导演：</span><span th:text="${movie.director}"></span>
                    <span class="mov-label">演员：</span><span th:text="${movie.cast}"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>演出编号</th>
                <th>地区</th>
                <th>电影院</th>
                <th>电影院厅</th>
                <th>演出日期</th>
                <th>演出时间</th>
                <th>电影价格</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!--循环遍历list 显示电影列表-->
            <tr th:each="show : ${list}">
                <td th:text="${show.scheduleId}"></td>
                <td th:text="${show.district}"></td>
                <td th:text="${show.cinema}"></td>
                <td th:text="${show.house}"></td>
                <td th:text="${#dates.format(show.scheduleDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(show.scheduleTime, 'hh:mm:ss')}"></td>
                <td th:text="${show.price}"></td>
                <td>
                    <a th:href="@{/user/booking(showId=${show.scheduleId}, movieId=${movie.id})}"
                       class="btn btn-primary btn-xs" role="button">购票</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>